

/* =========================
   index 코스 섹션
   ========================= */

/* 그리드 (6개 아이템) */
.learning__grid {
    margin-top: var(--spacing-lg);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3열 */
    gap: 1.5rem;
  }
  
  /* 개별 아이템 (아이콘 + 텍스트) */
  .learning__item {
    display: flex;
    align-items: flex-start;
    background-color: var(--shark-50);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }
  .learning__item:hover {
    transform: translateY(-5px);
  }
  
  /* 아이콘 영역 */
  .learning__icon-box {
    flex: 0 0 auto;  /* 아이콘 영역은 고정 크기 */
    margin: 0 1.5rem 0 0;
  }
  .learning__icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
  
  /* 텍스트 영역 */
  .learning__text-box {
    flex: 1; /* 남은 공간 사용 */
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  .learning__item-title {
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: var(--color-text);
  }
  .learning__item-desc {
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
    line-height: 1.4;
    color: var(--shark-700);
  }
  
  
  /* 미디어 쿼리 */
/* =========================================
   992px 이하
   ========================================= */
  @media (max-width: 992px) {
    .learning__grid {
      grid-template-columns: 1fr 1fr; /* 2열 */
    }
    .learning__list {
      grid-template-columns: 1fr; /* 1열 */
    }
    .learning__item {
      flex-direction: row; 
      padding: 1rem;
    }
    .learning__icon-box {
      margin-right: 1rem;
    }
  }

  /* =========================================
   576px 이하
   ========================================= */
  @media (max-width: 576px) {
    .learning__grid {
      grid-template-columns: 1fr; /* 1열 */
    }
  }
  
  

  /* =============================================
   주니어 코스 섹션
   =============================================== */
   /* 코스 상단 공통 */
  .course-page .section__header__title {
    background: url(../images/title-bg.png) center no-repeat;
  }

   .course-recommend {
    background-color: var(--shark-50);
    padding: var(--spacing-lg) var(--spacing-md);
  }
  .recommend-title-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .recommend-icon {
    width: 32px;
    height: 32px;
  }

  .recommend-subtext {
    text-align: center;
    margin-bottom: 2rem;
  }
  .recommend-divider {
    border: none;
    border-top: 1px solid var(--shark-100);
    margin: 0 auto 1rem;
    width: 300px;
  }
  .recommend-card__wrap {
    margin-top: var(--spacing-lg);
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* card */
  .recommend-card {
    position: relative;
    flex: 1 1 calc(33.333% - 1rem);
    background-color: var(--white);
    padding: var(--spacing-xs);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    color: var(--shark-700);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
    min-height: 280px;
    text-align: center;
  }
  
  .recommend-card__title {
    margin-bottom: var(--spacing-md);
    font-weight: 700;
    color: var(--lucky-point-1000);
  }
  
  .recommend-card__title .num {
    display: block;
    margin-bottom: var(--spacing-xs);
    font-weight: 800;
  }

  
  .recommend-card__desc-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    width: 100%;
  }
  
  .recommend-card__desc-text {
    flex-grow: 1;
  }
  
  .recommend-card__bottom {
    margin-top: var(--spacing-sm);
  }
  
  .recommend-card__bottom em {
    display: block;
    font-size: 1rem;
    color: var(--orange-peel-500);
    font-style: italic;
    margin-top: var(--spacing-sm);
  }
  .recommend-card__desc {
    font-size: clamp(0.75rem, 1.3vw, 0.875rem);
    line-height: 1.8;
    padding-bottom: var(--spacing-sm);
  }
  .recommend-card__desc strong {
    font-size: clamp(0.85rem, 1.5vw, 1rem);
  }

  .recommend-card__desc em {
    display: block;
    margin-top: var(--spacing-sm);
    font-size: 1rem;
    color: var(--orange-peel-500);
    font-style: italic;
  }
    

    /* 미디어 쿼리 */
  /* =============================================================
    992px 이하 
    ============================================================= */
    @media (max-width: 992px) {
      .recommend-card {
        flex: 1 1 48%;
    }
  }
  
/* =============================================================
   576px 이하 
   ============================================================= */
  @media (max-width: 576px) {
    .recommend-card {
      flex: 1 1 100%;
      min-height: 200px;
    }
  }
  


  .level-intro-text .highlight {
    background: url(../images/underline-s.png) no-repeat bottom left;
    background-size: 100%;
  }
  
  
  /*----- 섹션 서클 비쥬얼 ----*/
  .section__circle {
    margin: 4rem auto;
  }
  
  .circle-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .section__circle .circle-text {
    margin-top: var(--spacing-md);
  }
  
  .level-intro-circle {
    z-index: 1000;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 16px solid rgba(0, 0, 255, 0.05);
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--spacing-xs);
  }
  
  .level-intro-text h4 {
    margin: var(--spacing-md) auto var(--spacing-xs) auto;
  }
  
  .level-intro-text .highlight {
    background: url(../images/underline.png) no-repeat bottom left;
    background-size: 100%;
  }
  
  .intro-list {
    margin: var(--spacing-sm) auto;
    width: 360px;
    list-style: none;
    padding: 0;
  }
  .intro-list li {
    color: #111;
    margin-bottom: 0.5rem;
  }
  .intro-list li strong {
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    font-size: 0.8rem;
    border-radius: 50%;
    background: #FFC400;
    color: #fff;
    margin-right: 6px;
  }

  
  .visual-pic {
    z-index: 0;
    margin-left: -60px;
  }
  .visual-pic img {
    max-width: 260px;
    height: auto;
  }

  
  @media (max-width: 768px) {
    .circle-wrap {
      flex-direction: column;
    }
  }

  @media (max-width: 567px) {
    .level-intro-circle {
      width: 300px;
      height: 300px;
    }
  }


  /*--- 목표 & 개요 & 교재 섹션 --*/
  .course-summary {
    padding: 0 var(--spacing-md) var(--spacing-md) var(--spacing-md);
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto var(--spacing-lg) auto;
  }
  
  .summary-row {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem 0;
    border-bottom: 1px solid var(--shark-100);
  }
  .summary-row:last-child {
    border: none;
  }
  
  .summary-label {
    flex-shrink: 0;
    min-width: 100px;
    background-color: var(--shark-700);
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
  }
  
  .summary-label::before {
    content: "";
    position: absolute;
    left: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .summary-text {
    flex: 1;
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.9;
    color: var(--shark-700);
  }
  

  .highlight {
    color: var(--color-primary);
    font-weight: 600;
  }

  .book-info {
    margin-bottom: 1.5rem;
  }
  

  /* 교재 이미지 영역 */
  .book-info-grid {
    margin-top: var(--spacing-xs);
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--shark-50);
    padding: 2rem;
    border-radius: 12px;
  }
  
  .book-card {
    display: flex;
    flex: 1 1 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
  }
  .book-card h5 {
    margin-bottom: var(--spacing-xs);
    color: var(--color-primary)
  }
  .book-info-grid:has(.book-card:nth-child(2)) .book-card {
    flex: 1 1 calc(50% - 1rem);
    max-width: 50%;
  }
  
  .book-thumb {
    min-width: 160px;
    max-width: 280px;
    height: auto;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  
  .book-thumb-pic {
    width: 100%;
  }
  
  .book-feature-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .book-feature-list li {
    background: var(--shark-50);
    border-radius: 8px;
    padding: 0.75rem 1rem;
    font-size: 0.95rem;
    line-height: 1.4;
    color: var(--shark-800);
  }
  
  .book-feature-list strong {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 700;
  }
  
  


  /*--- media query --*/
  @media (max-width: 1280px) {
    .book-info-grid:has(.book-card:nth-child(2)) .book-card {
      max-width: 100%;
     }
  }

  @media (max-width: 992px) {
    .summary-row {
      flex-direction: column;
      padding: 1.5rem 0;
    }
  
  }

  @media (max-width: 576px) {
    .course-summary {
      padding: 0 var(--spacing-xs) var(--spacing-md) var(--spacing-xs);
    }
    .summary-label {
      text-align: left;
      margin-bottom: 0.5rem;
    }
  
    .summary-label::before {
      position: static;
      transform: none;
      margin-right: 0.25rem;
    }

    .course-feature-wrap {
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
    }
  
    .course-feature-box {
      width: 100%;
      max-width: 340px;
      margin-bottom: 1.5rem;
    }

    .book-info-grid {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;
      padding: 2rem 0;
      background: none;
    }
  
    .book-box {
      flex: 1 1 100%;
      width: 100%;
      max-width: 320px;
    }
    .book-info {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
   



/*----- 특징 섹션 ----- */
  .course-feature-section {
    margin: var(--spacing-xxl) 0 0 0;
    padding: 4rem 1rem;
    /*background-color: var(--orange-peel-50);*/
  }
  
  .course-feature {
    margin: 0 auto var(--spacing-xxl) auto;
  }
  .course-feature-wrap {
    width: 500px;
    margin: 0 auto;
  }
  .course-feature__header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
  }
  
  .feature-number {
    background: var(--shark-1000);
    color: #fff;
    border-radius: 1rem;
    padding: 0.25rem 0.8rem;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .feature-title {
    font-weight: 700;
    color: var(--shark-1000);
  }
  
  .feature-subtitle {
    color: var(--shark-700);
    margin-bottom: 0.5rem;
  }
  
  .desc-box {
    margin-top: var(--spacing-sm);
    padding: var(--spacing-xs) var(--spacing-sm);
    border: 2px solid var(--shark-200);
    border-radius: 8px;
  }
  .feature-desc {
    color: var(--shark-600);
    margin-bottom: 1.25rem;
  }
  .feature-desc ul {
    overflow: hidden;
    margin: 0 0 var(--spacing-xs) 0;
  }
  .feature-desc ul li {
    float: left;
    margin-right: var(--spacing-md);
  }
  
  .feature-list.check-style {
    list-style: none;
    padding-left: 0;
    margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
  }
  .feature-list.check-style li {
    position: relative;
    padding-left: var(--spacing-md);
    margin-bottom: 0.5rem;
  }

   /* 체크 아이콘 동그라미 스타일 */
  .feature-list.check-style li::before {
    content: '✔';
    position: absolute;
    left: 0;
    background: var(--orange-peel-300);
    color: var(--white);
    font-weight: bold;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
  }

  .feature-flow {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-md);
    background-color: var(--shark-50);
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
    padding: var(--spacing-sm);
    border-radius: 1rem;
    flex-wrap: wrap;
    margin: var(--spacing-lg) auto var(--spacing-xxl) auto;
    text-align: center;
  }


  .step-box {
    background: #fff;
    padding: 1.25rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
    flex: 1 1 30%;
    text-align: center;
    min-width: 240px;
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--shark-700);
  }
  
  .flow-step {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    min-height: 160px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  .flow-step-s {
    justify-content: center;
    padding: var(--spacing-xxs) 0;
    min-height: 100px;
  }
  .flow-step-s strong {
    margin-bottom: var(--spacing-xxs);
  }

  .flow-step h5 {
    padding: var(--spacing-xs);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--shark-700);
    color: var(--white);
  }
  .flow-step strong {
    font-size: 1.125rem;
    display: block;
    color: var(--color-primary);
  }
  .flow-step ul {
    margin-top: var(--spacing-xs);
    padding: var(--spacing-xs);
  }
  .flow-step ul li {
    margin: 0 0 var(--spacing-xxs) var(--spacing-xxs);
    list-style: disc;
    text-align: left;
  }

  .flow-arrow {
    font-size: 1.5rem;
    color: var(--shark-700);
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media (max-width: 768px) {
    .feature-flow {
      flex-direction: column;
    }
    .flow-arrow {
      width: 100%;
      transform: rotate(90deg);
    }
    .flow-step {
      width: 100%;
    }
    .flow-step-s {
      min-height: 50px;
    }
  }
  
  @media (max-width: 576px) {
    .course-feature-section {
      margin: 0;
      padding: 0;
    }
    .course-feature-wrap {
      width: 300px;
    }
    .summary-text {
      max-width: 100%;
    }
    .book-thumb {
      max-width: 200px;
    }
    .flow-step {
      margin-top: var(--spacing-xs);
    }
    .flow-step-s {
      margin-top: 0;
    }
    .feature-flow {
      gap: 0;
    }
  }
  
 /* IELTS 섹션 */
 /* 평가 시스템 섹션 */
 .band-score-section {
  margin: var(--spacing-lg) auto var(--spacing-xxl) auto;
  padding: 4rem;
  background: var(--shark-50);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
}

.band-score-header {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
  margin-bottom: 2rem;
  gap: 2rem;
}

.band-score-chart img {
  width: 260px;
  max-width: 100%;
}

.band-score-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.band-score-item {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.band-score-item .color-box {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-top: 0.4rem;
}

/* 밴드 스코어 상단 컬러 */
.color-box.color-primary {
  background: var(--color-primary);
}
.color-box.color-secondary {
  background: var(--color-secondary);
}
.color-box.color-yellow {
  background: var(--orange-peel-300);
}
.color-box.color-orange {
  background: var(--orange-peel-500);
}


/* table */
.band-score-table {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.band-score-row {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 1px 4px rgba(0,0,0,0.03);
}

.band-score-row .score {
  flex: 0 0 200px;
  text-align: center;
  padding: 0.8rem 1rem ;
  font-weight: 800;
  font-size: 1.05rem;
  color: var(--color-text);
}
.band-score-row .score small {
  font-weight: 400;
}

.band-score-row .text {
  flex: 1;
  padding: 1rem var(--spacing-md) ;
  font-size: 0.95rem;
  line-height: 1.5;
  background: var(--white);
  color: var(--shark-700);
}

/* IELTS Band Score 색상 시스템  */
.band-9 .score  { background-color: var(--purple-heart-700); color: #fff !important; }
.band-85 .score  { background-color: var(--purple-heart-500); color: #fff !important; }
.band-8 .score   { background-color: var(--purple-heart-400); color: #fff !important; }
.band-75 .score  { background-color: var(--purple-heart-300); color: #fff !important; }
.band-7 .score   { background-color: var(--purple-heart-200); color: #fff !important; }

.band-65 .score  { background-color: var(--pomegranate-500); color: #fff !important; }
.band-6 .score   { background-color: var(--pomegranate-400); color: #fff !important; }
.band-55 .score  { background-color: var(--pomegranate-300); color: #fff !important; }
.band-5   { background-color: var(--pomegranate-300);}

.band-45  { background-color: var(--orange-peel-400);}
.band-4   { background-color: var(--orange-peel-400);}

.band-35  { background-color: var(--orange-peel-300);}
.band-3   { background-color: var(--orange-peel-300);}

.band-25  { background-color: var(--orange-peel-100);}
.band-2   { background-color: var(--orange-peel-100);}

.band-15  { background-color: var(--orange-peel-50);}
.band-1   { background-color: var(--orange-peel-50);}

.band-05  { background-color: var(--white);}
.band-0   { background-color: var(--white);}


/* 반응형 */
@media (max-width: 1024px) {
  .band-score-header {
    flex-direction: column;
  }
  .band-score-chart img{
    width: 180px;
  }
}
@media (max-width: 768px) {
  .band-score-section {
    padding: 1rem;
  }
  .band-score-table {
    width: 100%;
  }

  .band-score-row {
    flex-direction: column;
    align-items: stretch;
  }
  .band-score-row .score {
    flex: 0 0 auto;
    padding: 0.5rem;
  }

  .band-score-row .text {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .band-score-row .score {
    border-bottom: 1px solid var(--shark-100);
    font-size: 1rem;
  }

  .band-score-row .text {
    font-size: 0.9rem;
  }
}



/* 토플 점수 환산 테이블 */
.score-table {
  margin-top: var(--spacing-lg);
  width: 100%;
  border-collapse: separate;
  border-spacing: 1rem; /* 열 간격 1.5rem, 행 간격 1rem */
  background: var(--shark-50);
  border-radius: 12px;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  table-layout: fixed;
}

.score-table td {
  width: 25%;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.95rem;
  border-radius: 8px;
}

.band {
  width: 100%;
  height: 100%;
  background: var(--white);
}

/* 컬러 */
.band-yellow {
  background-color: var(--orange-peel-200);
}
.band-deep-yellow {
  background-color: var(--orange-peel-400);
}
.band-light-red {
  background-color: var(--pomegranate-300);
}
.band-red {
  background-color: var(--pomegranate-400);
  color: var(--white);
}
.band-deep-red {
  background-color: var(--pomegranate-500);
  color: var(--white);
}
.band-light-purple {
  background-color: var(--purple-heart-300);
  color: var(--white);
}
.band-purple {
  background-color: var(--purple-heart-400);
  color: var(--white);
}
.band-deep-purple {
  background-color: var(--purple-heart-500);
  color: var(--white);
}

@media (max-width: 768px) {
  .score-table {
    font-size: 0.85rem;
    border-spacing: 0.5rem;
  }

  .score-table td {
    padding: 0.5rem;
    font-size: 0.85rem;
  }
}