/* =========================
   layout.css
   ========================= */

html { scrollbar-gutter: stable; }

body {
  margin: 0;
  /* 헤더 높이 만큼 패딩 */
  padding-top: 6.25rem;
}


/* =========================
   페이지 내부 영역
   ========================= */

/* container */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 var(--spacing-xxl);
  }

/* section */
section{
  margin: var(--spacing-xxl) 0;
}

 /* 섹션 헤더 */
 .section__header {
  text-align: center;
  margin: var(--spacing-lg) auto;
  padding: var(--spacing-sm) 0;
  color: var(--lucky-point-1000);
}

.section__header__title {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
  color: var(--lucky-point-1000);
  margin-bottom: var(--spacing-sm);
  position: relative;
}


.section__header__title span {
  color: var(--color-primary);
}

.section__header__subtitle {
  margin-bottom: var(--spacing-xs);
}


/* title__desc spacing */
.title__desc {
  margin: 0 0 var(--spacing-sm) 0;
}

.text-center {
  text-align: center;
}




  
  /* 미디어 쿼리 */
/* =============================================================
   1280px 이하 
   ============================================================= */
  @media (max-width: 1280px) {
    body {
      padding-top: 1.875rem;
    }
    .container {
      max-width: 1200px;
      padding: 0 var(--spacing-xl);
    }
    section{
      margin: var(--spacing-xl) 0;
      padding: var(--spacing-xl) 0 0 0;
    }
  }

  /* =============================================================
   992px 이하 
   ============================================================= */
  @media (max-width: 992px) {
    .container {
      max-width: 960px;
      padding: 0 var(--spacing-lg);
    }
    section{
      margin: var(--spacing-xl) 0;
      padding: var(--spacing-lg) 0 0 0;
    }
    .section__header {
      padding: 0;
    }
  }

  /* =============================================================
   576px 이하 
   ============================================================= */
  @media (max-width: 576px) {
    body {
      padding-top: 0;
    }
    .container {
      max-width: 540px;
      padding: 0 var(--spacing-xxs);
    }
    .section__header {
      margin: 0;
    }
  }
  