/* =========================
   level-system.html
   ========================= */
/* header */
.level-intro-section {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}

.level-intro-circle {
  margin: 0 auto;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 255, 0.05); 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.level-intro-text h3 {
  margin: var(--spacing-sm) 0;
  margin-bottom: 0.5rem;
}

.level-intro-text .highlight {
  color: var(--color-primary);
}

.level-intro-text .subtitle {
  margin-bottom: 1.2rem;
}

.level-intro-text .text-primary {
  color: var(--color-primary);
}

.intro-list {
  margin: var(--spacing-sm) auto;
  width: 200px;
  text-align: left;
  list-style: none;
  padding: 0;
}

.intro-list li {
  font-size: 0.95rem;
  color: #111;
  margin-bottom: 0.5rem;
}

.intro-list li strong {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  font-size: 0.8rem;
  border-radius: 50%;
  background: #FFC400;
  color: #fff;
  margin-right: 6px;
}


/*--- 레벨 테스트 항목 ---*/
.video-common-guide {
  position: relative;
  margin: var(--spacing-xxl) auto 0 auto;
  padding: var(--spacing-xxl) var(--spacing-sm) var(--spacing-lg) var(--spacing-sm);
  background-color: var(--shark-50);
}

.common-guide__label {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  color: #fff;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  font-weight: 700;
  padding: 0.6rem 1.6rem;
  border-radius: 8px;
}

.video-guide__row {
  margin-top: var(--spacing-xl);
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.video-guide__box {
  position: relative;
  flex: 1 1 48%;
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

.video-guide__head {
  margin-bottom: 24px;
}
.video-guide__head h5 {
  margin: var(--spacing-sm) auto var(--spacing-md) auto;
}

.step-label {
  position: absolute;
  top: -1.2rem;
  left: 1.6rem;
  background: var(--shark-700);
  color: #fff;
  font-size: 0.95rem;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  z-index: 2;
}

.video-guide__sublist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.video-guide__sublist li {
  display: flex;
  align-items: center;
  background: #f8f9fc;
  border-radius: 12px;
  padding: 16px;
  gap: 12px;
}

.video-guide__icon img {
  width: 36px;
  height: 36px;
}

.video-guide__text strong {
  display: block;
  font-weight: 700;
  color: #222832;
}

.video-guide__text p {
  font-size: clamp(0.65rem, 1vw, 0.75rem);
  color: #666;
}
.test-base {
  margin: var(--spacing-lg) 0;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

 /* 미디어 쿼리 */
/* =============================================================
   992px 이하 
   ============================================================= */
@media (max-width: 992px) {
  .level-intro-circle {
    width: 360px;
    height: 360px;
}
}
/* =============================================================
   768px 이하 
   ============================================================= */
@media (max-width: 768px) {
  .level-intro-circle {
    width: 360px;
    height: 360px;
  } 
  .video-guide__sublist {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .video-guide__sublist li {
    flex-wrap: wrap;
  }
  .video-guide__text p {
    font-size: 0.75rem;
  }
}

@media (max-width: 576px) {
  .section__header {
    padding: var(--spacing-sm);
  }
  .level-intro-circle {
    width: 300px;
    height: 300px;
  } 
  .step-label {
    padding: 0.3rem 0.8rem;
  }
  .video-common-guide {
    padding: var(--spacing-xl) var(--spacing-xxs);
  }
}



/*--- 교재 항목 ---*/
.leveltest-book-section {
  margin: var(--spacing-xxl) 0;
  text-align: center;
}
.book-card-wrap {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-lg);
  text-align: center;
}
.book-card {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  width: 360px;
  padding-bottom: var(--spacing-sm);
}
.book-title {
  background-color: var(--shark-700);
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 16px;
}
.book-img {
  padding: var(--spacing-sm) var(--spacing-sm) 0 var(--spacing-sm);
}
.book-img img {
  width: auto;
  height: 155px;
  margin-bottom: 16px;
}
.book-desc {
  color: #222;
}
.btn-wrap.center {
  width: 360px;
  margin: 0 auto;
}
.btn.red {
  margin-top: var(--spacing-md);
  background-color: var(--color-secondary);
  color: #fff;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 8px;
  display: inline-block;
  transition: 0.3s ease;
}
.btn.red:hover {
  background-color: #d92e2e;
}

@media (max-width: 576px) {
  .book-card {
    width: 300px;
  }
  .book-img img {
    height: 100px;
  }
  .book-desc {
    padding: 0 var(--spacing-xxs);
  }
  .btn-wrap.center {
    width: 280px;
  }
}

/* =============================================
   보다 프로그램
   =============================================== */
   .boda-check-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9fb;
  }
  .boda-logo img {
    width: 200px;
    margin: 16px auto;
  }
  .boda-desc {
    color: #333;
    margin-bottom: 40px;
  }
  .boda-device-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
  }
  .device-item {
    width: 280px;
    background: #fff;
    border-radius: 12px;
    padding: 20px 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  }
  .device-num {
    display: inline-block;
    background-color: #1a237e;
    color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .device-title {
    font-weight: bold;
    margin-bottom: 6px;
  }
  .device-item p {
    color: #555;
  }
  .boda-note ul {
    text-align: left;
    max-width: 680px;
    margin: 0 auto;
    color: #444;
    line-height: 1.6;
  }
  .boda-note ul li {
    margin-bottom: 12px;
  }
  .boda-note ul li strong {
    color: #1a237e;
  }
  



/* =============================================
   레벨 시스템
   =============================================== */
  .level-table-wrap {
    margin: var(--spacing-sm) auto var(--spacing-xxl) auto;
    overflow-x: auto;
    position: relative;
  }
  .level-table-wrap::after {
    content: "→ 좌우로 스크롤하세요";
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: var(--color-secondary);
    display: none;
  }
  
  
  .level-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    min-width: 720px;
  }
  
  .level-table th,
  .level-table td {
    padding: var(--spacing-xxs);
    text-align: center;
    border: 2px solid var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
  }
  
  .level-table th {
    padding: var(--spacing-xs);
    font-weight: 600;
    white-space: nowrap;
  }

  /* th 스타일 */
  th.topic {
    background: var(--shark-50);
  }
  .level-1 { 
    background-color: var(--shark-50); 
  }
  .level-2 { 
    background-color: var(--shark-100); 
  }
  .level-3 { 
    background-color: var(--shark-200); 
  }
  .level-4 { 
    background-color: var(--shark-300); 
  }
  .level-5 { 
    background-color: var(--shark-400); 
    color: var(--white); 
  }
  .level-6 { 
    background-color: var(--shark-500); 
    color: var(--white); 
  }
  .level-7 { 
    background-color: var(--shark-600); 
    color: var(--white); 
  }
  .level-8 { 
    background-color: var(--shark-700); 
    color: var(--white); 
  }
  .level-9 { 
    background-color: var(--shark-800);
    color: var(--white); 
  }

  
  .level-table .topic span {
    display: block;
    font-size: clamp(0.65rem, 1vw, 0.75rem);
    margin-top: 4px;
  }
  
  
  /* level-table color */
  .light-yellow { 
    background-color: var(--orange-peel-50); 
  }
  .yellow { 
    background-color: var(--orange-peel-200); 
  }
  .orange { 
    background-color: var(--orange-peel-400); 
  }
  .red { 
    color: var(--black);
    background-color: var(--color-secondary); 
  }
  .blue { 
    color: var(--white) !important;
    background-color: var(--lucky-point-500); 
  }
  .light-purple { 
    color: var(--white) !important;
    background-color: var(--lucky-point-400); 
  }
  .purple { 
    color: var(--white) !important;
    background-color: var(--purple-heart-500); 
  }
  .deep-purple { 
    color: var(--white) !important;
    background-color: var(--purple-heart-700); 
  }

   
  @media (max-width: 768px) {
    .level-table {
      font-size: 13px;
    }
    .level-table-wrap::after {
      display: block;
    }
  
    .level-table th,
    .level-table td {
      padding: 6px;
    }
  
    .level-table .topic span {
      font-size: 11px;
    }
  }




/* =============================================
   레벨 카드
   =============================================== */
.level-explain-section{
  padding-top: var(--spacing-xxl);
}
.level-explain__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: var(--spacing-sm) auto var(--spacing-xxl) auto;
}

.level-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.level-card__color {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-top: 6px; /* 텍스트와 수직 정렬 맞춤 */
  flex-shrink: 0;
}
.level-card__none {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.0) !important;
}

.level-card__title {
  font-size: clamp(0.95rem, 1.8vw, 1.125rem);
  font-weight: 700;
  color: #222;
  display: inline-block;
  margin-right: var(--spacing-xxs);
}

.level-card__subtitle {
  color: var(--shark-500);
  font-size: clamp(0.75rem, 1.3vw, 0.875rem);
  margin-bottom: 6px;
}

.level-card__desc {
  font-size: clamp(0.75rem, 1.3vw, 0.875rem);
  line-height: 1.6;
}

   
/* 반응형  */
/* =============================================================
   1024px 이하
   ============================================================= */
@media (max-width: 1024px) {
  .level-card__none {
    display: none;
  }
  .level-explain__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* =============================================================
   600px 이하
   ============================================================= */
@media (max-width: 600px) {
  .level-explain__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .level-card {
    flex-direction: row;
    padding: 16px;
  }
  .level-card__title { font-size: 16px; }
  .level-card__subtitle { font-size: 14px; }
  .level-card__desc { font-size: 14px; }
}




 
  















/* =========================
   leveltest-apply.html
   ========================= */

/* 전체 섹션 */
  
  /* 타이틀, 부제목, 설명문구 */
  .leveltest-title-area {
    margin-bottom: var(--spacing-xxl);
  }
  .leveltest-title {
    margin-bottom: var(--spacing-xs);
  }
  .leveltest-subtitle {
    font-size: 1.125rem;
    color: var(--shark-700);
    margin-bottom: var(--spacing-md);
  }
  /* 설명문구 */
  .leveltest-desc {
    margin: 0 auto;
    max-width: 500px; 
    font-size: 0.95rem;
    color: var(--shark-700);
    line-height: 1.5;
    border-left: 3px solid #ccc; 
    padding-left: 1rem;
  }
  .leveltest-desc p {
    margin-bottom: 0.5rem;
  }
  
  /* 폼 박스 */
  .leveltest-container {
    max-width: 900px;
    margin: 0 auto;
    padding: var(--spacing-lg);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  /* 폼 */
  .leveltest-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }
  /* 2열 폼 구성 */
  .leveltest-form .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  /* 전체 행 차지 (수강목적) */
    .leveltest-form .form-row.full-row {
        grid-template-columns: 1fr;
    }

/* 폼 내부 공통 */
.leveltest-form .form-col {
    display: flex;
    flex-direction: column;
  }
  .leveltest-form label {
    margin-bottom: 0.3rem;
    font-weight: 500;
  }
  .leveltest-form input,
  .leveltest-form select {
    padding: 0.65rem;
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    font-size: 0.9rem;
    background: var(--shark-50);
    color: var(--shark-800);
  }
  
  /* 테스트 일정 내부 그룹: 3개 선택 요소를 가로 나열 */
  .test-date-group {
    display: flex;
    gap: 0.5rem;
  }
  .test-date-group select {
    flex: 1;
  }
  
  /* 제출 버튼 */
  .btn-submit {
    padding: 1rem;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .btn-submit:hover {
    background-color: var(--purple-heart-600);
  }
  
  /* 미디어 쿼리 */
/* =======================================================
   992px 이하 
   ======================================================= */
  @media (max-width: 992px) {
    .leveltest-container {
        max-width: 580px;
        padding: var(--spacing-sm);
      }
    .leveltest-form .form-row {
      grid-template-columns: 1fr;
    }
  }
  /* =======================================================
   576px 이하 
   ======================================================= */
   @media (max-width: 576px) {
    .leveltest-container {
        max-width: 400px;
        padding: var(--spacing-sm);
      }
  }




/* 절차(프로세스) 섹션 */
.process-section {
    padding: 0;
    background-color: #fff;
  }
  
  .process-container {
    margin: 0 auto;
    padding: 0 var(--spacing-md);
  }
  
  /* 프로세스 그리드: 4개의 열 */
  .process-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-auto-rows: 1fr;        /* 자동 행 높이를 동일하게 맞춤 */
    align-items: stretch;  
  }
  
  /* 개별 절차 항목 */
  .process-item {
    display: flex;
    flex-direction: column;
  }
  
  /* 각 절차의 이미지 (박스 위에 위치) */
  .process-image {
    position: relative;
  }
  .process-image img {
    max-width: 35%;
    height: auto;
  }
  
  .box-process {
    height: 480px;
    padding: var(--spacing-sm);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 60px 60px rgba(0, 0, 0, 0.06);
  }
  /* 타이틀 영역 */
  .process-title {
    margin-top: var(--spacing-xxs);
    color: var(--shark-900);
  }
  
  /* 세부 설명 영역 */
  .process-desc {
    margin-top: var(--spacing-sm);
  }
  .process-desc p {
    margin-bottom: 0.3rem;
    color: var(--shark-700);
    text-align: left;
  }
  
  /* 버튼 영역 */
  .process-buttons  {
    margin-top: var(--spacing-sm);
  }
  .process-buttons-vcc {
    margin-top: 110px;
  }
  .btn {
    width: 100%;
    margin: 0.25rem;
    padding: 0.75rem 1rem;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  /*.btn:hover {
    color: var(--color-primary);
    background-color: var(--white);
    border: 1px solid var(--color-primary);
  }*/
  .btn-border {
    color: var(--purple-heart-1000) !important;
    background: none !important;
    border: 1px solid #ddd !important;
  }
  .btn-border:hover {
    color: var(--white) !important;
    background-color: var(--shark-900) !important;
  }
  .process-buttons-vcc .btn {
    margin-top: 110px;
  }


  /* 미디어 쿼리 */
/* =======================================================
   992px 이하 
   ======================================================= */

  @media (max-width: 992px) {
    .process-grid {
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
      }
    .box-process {
        height: 350px;
        padding: var(--spacing-xs);
    }
    .process-buttons {
        margin-top: var(--spacing-xxs);
    }
  }

  /* =======================================================
   576px 이하 
   ======================================================= */
  @media (max-width: 576px) {
    .process-section {
      margin: 0;
    }
    .process-container {
        padding: 0 var(--spacing-sm);
    }
    .process-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;  /* 내용에 맞게 높이 조절 */
      }
    .box-process {
        height: auto;
        padding: var(--spacing-xs);
    }
    .process-image img {
      max-width: 25%;
    }
  }
  



  /* 대한민국 영어 현주소 섹션 */
.ranking-section {
    padding: var(--spacing-xxl) 0;
    background-color: #fff;
  }
  
  .ranking-container {
    margin: 0 auto;
    padding: var(--spacing-md);
  }
  
  /* 헤더 영역 */
  .ranking-header {
    margin-bottom: var(--spacing-lg);
  }
  /*.ranking-header .section__header__title {
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    margin-bottom: var(--spacing-sm);
  }
  
  /* 설명문구 - border-left 방식 */
  .ranking-desc {
    margin: 0 auto;
    max-width: 350px;
    font-size: 0.95rem;
    color: var(--shark-700);
    line-height: 1.5;
    border-left: 3px solid #ccc;
    padding-left: 1rem;
    text-align: left;
  }
  .ranking-desc p {
    margin-bottom: 0.5rem;
  }
  
  /* EF EPI 2024 Rankings 박스 */
  .ranking-box {
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    padding: var(--spacing-lg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: var(--spacing-lg);
  }
  
  .ranking-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: var(--spacing-sm);
  }
  
  .ranking-content img{
    width: 100%;
  }
  .ranking-content p {
    margin-top: var(--spacing-md);
    text-align: left;
    color: var(--shark-700);
  }
  
  /* 미디어 쿼리 */
/* =======================================================
   1280px 이하 
   ======================================================= */

  @media (max-width: 1280px) {
    .leveltest-section {
      padding: var(--spacing-lg) 0;
    }
}

/* =======================================================
    992px
    ======================================================= */
  @media (max-width: 992px) {
    .leveltest-section {
        padding: var(--spacing-xxl) 0;
      }
    .ranking-container {
      padding: var(--spacing-md);
    }
    .ranking-section {
      max-width: 100%;
      padding: 0;
    }
  }

/* =======================================================
    576px
    ======================================================= */
    @media (max-width: 576px) {
      .leveltest-section {
        margin: var(--spacing-xl) 0 var(--spacing-sm) 0;
        padding: var(--spacing-md) 0;
      }
      .leveltest-title-area {
        margin-bottom: var(--spacing-md);
      }
      .ranking-box {
          border: none;
          padding: 0;
          box-shadow: none; 
      }
    }
  
 
  